	<p>Please fill out the form if you are interested.</p>

	<div class="row">
		<div class="col-md-12">
			<div class="col-sm-6">
				<form action="insert.php" method="post" class="form-horizontal" role="form">

					<div class="form-group">
						<label for="InputName" class="col-sm-3 control-label">Name</label>
						<div class="col-sm-9">
							<input name="InputName" class="form-control" placeholder="Name">
						</div>
					</div>

					<div class="form-group">
						<label for="InputEmail" class="col-sm-3 control-label">Email</label>
						<div class="col-sm-9">
							<input name="InputEmail" type="email" class="form-control" placeholder="Email">
						</div>
					</div>

					<div class="form-group">
						<label for="InputPhone" class="col-sm-3 control-label">Phone</label>
						<div class="col-sm-9">
							<input name="InputPhone" class="form-control" placeholder="Phone nr">
						</div>
					</div>
					<div class="form-group">
						<label for="InputFaceb" class="col-sm-3 control-label">Facebook</label>
						<div class="col-sm-9">
							<input name="InputFaceb" class="form-control" placeholder="Your facebook">
						</div>
					</div>
				
					<div class="form-group">
						<label for="InputAbout" class="col-sm-3 control-label">About</label>
						<textarea class="form-control" name="InputAbout"  rows="4" placeholder="What do you do?"></textarea>
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<a href="list.php">Show applicants (admin only)</a>
</div> <!-- End container -->
</body>
</html>